<form action="{{ url_for('admin.part.change_responsible', part_id=part.part_id) }}" method="post" novalidate class="space-y-6">
    {{ form.hidden_tag() }}
    
    <div>
        {{ form.responsible.label(class="block text-sm font-medium text-gray-700") }}
        <p class="text-sm text-gray-500 mb-2">Текущий: {{ part.responsible.username if part.responsible else 'Не назначен' }}</p>
        {{ form.responsible(class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md") }}
    </div>
    
    <div class="flex justify-end pt-4">
        {{ form.submit(class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md") }}
    </div>
</form>